{{#each this}}
  <div class='country-title'>
    <img src="{{flags.svg}}" alt='' class='country-flags' />
    <p class='country-name'>
      {{name.official}}Official name:
    </p>
    <p class='capital'>
      Capital:
      {{capital}}
    </p>
    <p class='population'>
      Population:
      {{population}}
    </p>
    <p class='language'>
      Language:
      {{languages}}
    </p>
  </div>
{{/each}}